<% @books.in_groups_of(3, false) do |books| %>
  <div class="row">
    <% books.each do |book| %>
      <div class="span3">
        <h4><%= book.name %> - <%= pluralize(book.issues.count, 'Issue') %></h4>
        <%= link_to book_path(book) do %>
          <%= image_tag book.cover_image_url %>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>
